@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--servicePageBg) !important;
}
section .contactContainer{
padding-top: 130px;
text-align: center;
display: flex;
flex-direction:column;
justify-content:center;
align-items: center;
}
section .contactContainer h1{
color: var(--headingColor);
      font-family:"Poppins";
      font-size: 20px;
}
section .contactContainer p{
    font-size: 14px;
    color: rgb(62, 61, 61); 
    font-family:"Poppins";
   
}
section .contactContainer .contactGrid{
 display: grid;
  grid-template-columns:repeat(4,1fr);
gap: 15px;
    padding: 5px;
    margin: 15px;
}
section .contactContainer .contactGrid .address{
    border: 1px solid var(--borderGray);
    padding: 30px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
 align-items: start;
 background-color: white;
}
section .contactContainer .contactGrid .address:hover{
    box-shadow:  0px 0px 7px #aaaaaa,
             -25px 0px 30px #eeeded;
               -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;  
}
.contactGrid .address i{
    color:var(--headingColor) ;
    font-size: 20px;
    padding: 15px 15px 10px 15px;
    background-color:#cce0ff;
    border-radius: 10px;
}
.contactGrid .address span{
      font-family:"Poppins";
        margin-top: 10px;
        margin-bottom: 7px;
}
.contactGrid .address p{
    color: rgb(54, 53, 53);
    font-size: 14px;
    text-align: start;
    margin:2px;
}
/* news letter design started */
section .newsLetterContainer .newsLetter{
 background-color: white;
  padding: 25px 70%; 
  margin-top: 10px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
    width: 70%;
  border: 1px solid var(--borderGray);
  border-radius: 9px;
  text-align: start;
}
section .newsLetterContainer .newsLetter p{
    color: black;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 550;
}
section .newsLetterContainer .newsLetter span{
    color: gray;
    text-transform: capitalize;
    font-size: 14px;
   font-family:"Poppins";
   letter-spacing: 1px;
}
section .newsLetterContainer .newsLetter input{
padding: 10px 36%;
border: 1px solid rgb(243, 239, 239);
border-radius: 9px;
background-color: rgb(243, 241, 241);
      font-size: 13px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
section .newsLetterContainer .newsLetter input:focus{
      border-color: #c2c3c4; 
  box-shadow: 0 0 5px rgba(229, 230, 230, 0.5);
    outline: none;
}
section .newsLetterContainer .newsLetter button{
    border: none;
    border-radius: 7px;
    background-color: var(--btnColor);
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}
section .newsLetterContainer .newsLetter button:hover{
background-color: rgb(27, 27, 206);
}