@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-thin-rounded/css/uicons-thin-rounded.css');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--servicePageBg) !important;
}
section .contactContainer{
padding-top: 130px;
text-align: center;
display: flex;
flex-direction:column;
justify-content:center;
align-items: center;
}
section .contactContainer h1{
color: var(--headingColor);
      font-family:"Poppins";
      font-size: 20px;
}
section .contactContainer p{
    font-size: 14px;
    color: rgb(62, 61, 61); 
    font-family:"Poppins";
   
}
section .contactContainer .contactGrid{
 display: grid;
  grid-template-columns:repeat(4,1fr);
gap: 15px;
    padding: 5px;
    margin: 15px;
}
section .contactContainer .contactGrid .address{
    border: 1px solid var(--borderGray);
    padding: 30px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
 align-items: start;
 background-color: white;
}
section .contactContainer .contactGrid .address:hover{
    box-shadow:  0px 0px 7px #aaaaaa,
             -25px 0px 30px #eeeded;
               -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;  
}
.contactGrid .address i{
    color:var(--headingColor) ;
    font-size: 20px;
    padding: 15px 15px 10px 15px;
    background-color:#cce0ff;
    border-radius: 10px;
}
.contactGrid .address span{
      font-family:"Poppins";
        margin-top: 10px;
        margin-bottom: 7px;
}
.contactGrid .address p{
    color: rgb(54, 53, 53);
    font-size: 14px;
    text-align: start;
    margin:2px;
}
/* news letter design started */
section .newsLetterContainer{
width: 100%;
height:auto;
background-color:var(--navColor);
display: flex;
flex-direction: column;
padding: 60px;
justify-content: center;
align-items: center;
margin-top: 20px;
}
section .newsLetterContainer i{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: var(--headingColor);
       background-color:#cce0ff;
        padding: 20px 20px 5px 20px;
        border-radius: 50%;
}
section .newsLetterContainer .newsLetter{
    background-color: white;
    width: 85%;
    padding: 70px 30px;
    border-radius: 10px;
}
section .newsLetterContainer .newsLetter p{
    color: black;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 550;
   
}
section .newsLetterContainer .newsLetter span{
    color: gray;
    text-transform: capitalize;
    font-size: 14px;
   font-family:"Poppins";
   letter-spacing: 1px;
}
section .newsLetterContainer .newsLetter input{
padding: 10px 36%;
border: 1px solid rgb(243, 239, 239);
border-radius: 9px;
margin-bottom: 20px; 
background-color: rgb(243, 241, 241);
      font-size: 13px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
section .newsLetterContainer .newsLetter input:focus{
      border-color: #c2c3c4; 
  box-shadow: 0 0 5px rgba(229, 230, 230, 0.5);
    outline: none;
}
section .newsLetterContainer .newsLetter button{
    border: none;
    border-radius: 7px;
    background-color: var(--btnColor);
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    
}
section .newsLetterContainer .newsLetter button:hover{
background-color: rgb(27, 27, 206);
}
/* footer design stared */
footer{
    background-color:#000d1a;
    padding: 50px;
    display: flex;
    flex-direction: column;
    color: white;
}
footer .ContactDetails{
    display: flex;
    flex-direction: row;
}
footer .ContactDetails .AmVegLogo{
width: 40%;
}
footer .ContactDetails .AmVegLogo>div{
    display:inline-flex;
}
footer .ContactDetails .AmVegLogo i{
    background-color: rgb(4, 162, 4);
    padding: 10px 14px;
    border-radius: 7px;
}
footer .ContactDetails .AmVegLogo h1{
 margin-left: 10px;
font-size: 20px;
font-family:"Poppins";
font-weight: 400;
line-height: 20px;
}
footer .ContactDetails .AmVegLogo span{
    font-size: 13px;
    color: gray;
}
footer .ContactDetails .AmVegLogo p{
   margin:20px 10px 10px 0px; 
   font-family:"Poppins";
   font-size: 14px;
   text-align: justify;
}
footer .ContactDetails .company,.products,.services,.support{
margin: 0px 10px 10px 60px;
  font-family:"Poppins";
  font-weight: 550;
}
footer .ContactDetails ul{
list-style-type: none;
margin-top: 10px;
cursor: pointer;
}
footer .ContactDetails ul li{
margin-top:7px;
font-weight: 400;
color: gray;
}
footer .ContactDetails ul li:hover{
    color: rgb(9, 184, 9);
}
footer .Contact{
    display: flex;
    flex-direction: row;
}
footer .Contact .contactInfo{
    display: flex;
}
footer .Contact .contactInfo .contactLogo{
    display: flex;
    flex-direction: column;
}
footer .Contact .contactInfo .contactLogo i{
    color: rgb(3, 170, 3);
    margin-top: 10px;
}
footer .Contact .contactInfo .contacted p{
   margin: 10px 15px 0px 15px; 
}
footer .Contact .followus p{
  font-family:"Poppins";
  font-weight: 550;
}
footer .Contact .followus>div{
 margin-top:10px;
}
footer .Contact .followus i{
   margin-right: 15px;
    background-color:#041f3b;
    padding: 7px 8px 3px 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}
footer .Contact .followus i:hover{
    color:white;
    background-color:green ;
}
footer .verticalLine{
height: 1px;
width: 100%;
background-color:#041f3b;
margin: 50px 10px 10px 10px;
}
footer .newsLetter{
    display: flex;
    flex-direction: row;
 margin-top: 40px;
}
footer .newsLetter h1{
  margin-left: 10px;
font-size: 20px;
font-family:"Poppins";
font-weight: 400;
line-height: 30px;  
font-size: 20px; 
}
footer .newsLetter span{
       font-size: 15px;
   color: gray;
   font-family:"Poppins";
font-weight: 300;
letter-spacing: .5px;
}
footer .newsLetter input{
background-color:#041f3b;
margin:20px 10px 0px 70px;
padding: 14px 90px;
outline: none;
border: 1px solid #041f3b ;
border-radius: 8px;
}
footer .newsLetter button{
    background-color: green;
    border: none;
    border-radius: 8px;
    padding: 10px 35px !important;
    margin:20px 10px 0px 0px;
    color: white;
    font-family:"Poppins";
    cursor: pointer;
}
footer .newsLetter button:hover{
    background-color: rgb(3, 86, 3);
}
footer .copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     margin-top: 40px;
}
footer .copyright p{
 font-size: 15px;
   color: gray;
   font-family:"Poppins";
   font-weight: 300;   
}
footer .copyright ul{
    display:inline-flex;
    list-style-type: none;
}
footer .copyright ul li{
    margin-right: 24px;
    cursor: pointer;
      font-size: 15px;
       color: gray;
   font-family:"Poppins";
}
footer .copyright ul li:hover{
    color: green;
  
}
/* footer design ended */