*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--servicePageBg) !important;
}
section .doctorContainer{
padding-top: 130px;
text-align: center;
}
section .doctorContainer h1{

    color: var(--headingColor);
      font-family:"Poppins";
      font-size: 20px;
}
section .doctorContainer p{
    font-size: 16px;
    color: rgb(77, 75, 75); 
    font-family:"Poppins";
}
section .doctorContainer .doctorGrid{
  display: grid;
  grid-template-columns:repeat(4,1fr);
  gap: 15px;
  margin: 15px;
}
section .doctorContainer .doctorGrid .cardView{
        border: 1px solid var(--borderGray);
        border-radius: 10px;
        background-color: white;
        width: 100%;
        height: 75%;
        object-fit: cover;
        display: flex;
       flex-direction: column;
}
section  .doctorContainer .doctorGrid .cardView:hover{
    box-shadow:  0px 0px 7px #aaaaaa,
             -25px 0px 30px #eeeded;
               -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;  
}
section .doctorContainer .doctorGrid .cardView img{
    width: 100%;
    height:58%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
      
}
section .doctorContainer .doctorGrid .cardView .content{
    text-align: start;
    padding:20px;
}
section .doctorContainer .doctorGrid .cardView .content span{
     font-family:"Poppins";
     color: black;
    margin-top: 20px;
     font-weight: 500;
     text-align: start;
}

section .doctorContainer .doctorGrid .cardView .content .type{
    font-size:14px;
    margin-bottom: 10px;
    color: gray;
}
section .doctorContainer .doctorGrid .cardView .content p{
color: black;
}
section .doctorContainer .doctorGrid .catgoroy{
   display: flex;
   flex-direction: row; 

}
section .doctorContainer .doctorGrid .catgoroy p{
   font-size: 12px;
   color: black;
   margin: 5px;
   margin-top: 10px;
  background-color: rgb(238, 237, 237);
  padding: 5px;
  font-weight: 500;
  border-radius: 9px;
}


/* mobile based responsive design  */
@media screen and (max-width:767px)and (max-width:960px){
section .doctorContainer .doctorGrid{
grid-template-columns:repeat(1,1fr);
padding-left: 30px;
padding-right: 30px;
  margin: 5px;
  gap: 1px;
}  

}