@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
:root{
--headingColor:#003d99;  
--navColor:#1a75ff;
--backgroundColor:#e6f0ff;
--btnColor:	 #0052cc;
}
*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
body{

  background-color:var(--backgroundColor);  
}
a{
text-decoration: none !important;
position:relative;
}
.header{
 display: flex;
    flex-direction: row;
   padding:13px;
    background-color: white;
    box-shadow:  0px 0px 7px #aaaaaa,
             -25px 0px 30px #eeeded;
               -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
z-index: 100;
width: 100%;
  position:fixed;
  justify-content: space-between;
 
}
/* logo desing start */

.header a{
    color:var(--navColor);
  font-family:"Poppins";
    font-size: 20px;
    padding: 6px;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
}

/* nav bar logo design started */
.header nav ul {
    display: inline-flex;
    list-style-type: none;
    
}
.header nav ul li a{

    padding: 10px;
    color: var(--navColor);
    font-size: 16px;
    font-weight: 450 !important;
   cursor: pointer;
   text-transform: capitalize;
}
.header nav ul li a:hover{
    color: var(--navColor);
    background-color:var(--backgroundColor);
    border-radius: 7px;
}
.active{
     color: var(--navColor) !important;
    background-color: var(--backgroundColor);
    border-radius: 7px;
}
.header nav button{
    padding: 10px 15px;
    border: none;
    background-color:var(--btnColor);
    color:white;
    font-weight: 500;
    cursor:pointer;
    border-radius: 7px;
    margin-right: 30px;
    font-size: 17px;
    
}




/* home section is start */
