@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
body{

  background-color: #e6ffe6;  
}
a{
text-decoration: none !important;
position:relative;
}
.header{
 display: flex;
    flex-direction: row;
   padding:10px;
    background-color: white;
    box-shadow:  0px 0px 7px #aaaaaa,
             -25px 0px 30px #eeeded;
               -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
z-index: 100;
width: 100%;
  position:fixed;
}
/* logo desing start */
.header img{
    width: 2%;
    height: 100%;
    border-radius: 6px;
    padding: 4px;
    border:  1px solid green;
    background-color: rgb(218, 248, 218);
    cursor: pointer;
    margin-top: 10px;
}
.header a{
    color:green;
  font-family:"Poppins";
    font-size: 18px;
    padding: 6px;
    margin: 5px;
    line-height:20px;
    cursor: pointer;
}
.header a span{
color:gray;
font-size: 13px;
}
/* nav bar logo design started */
.header nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 20px;
}
.header nav ul li a{
    margin-left: 18px;
    padding: 10px;
    color: rgb(61, 61, 61);
    font-size: 16px;
    font-weight: none;
   cursor: pointer;
   text-transform: capitalize;
}
.header nav ul li a:hover{
    color: rgb(56, 200, 56);
    background-color: rgb(229, 255, 229);
    border-radius: 7px;
}
.active{
     color: rgb(56, 200, 56) !important;
    background-color: rgb(229, 255, 229);
    border-radius: 7px;
}
i{
    font-size: 20px;
}
.header nav input{
  background-color: rgb(242, 239, 239);
   border: 1px solid rgb(218, 215, 215);
  border: none;
  padding: 14px 50px;
  border-radius: 8px;
  color: rgb(115, 114, 114);
  letter-spacing: 2px;

   transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.header nav input:focus{
      border-color: #bcbdbd; 
  box-shadow: 0 0 5px rgba(229, 230, 230, 0.5);
    outline: none;
}
.fi-sr-phone-call{
    font-size: 16px;
    margin-right:17px;
    margin-top: 5px;
}
.header nav button{
    padding: 7px 15px;
    border:2px solid rgb(18, 179, 55);
    background-color:white;
    color: rgb(32, 158, 32);
    font-weight: bold;
    cursor:pointer;
    border-radius: 7px;
    margin-left: 10px;
    font-size: 17px;
    
}

.header nav button:hover{
color: black;
background-color: #ffffff;
}
.header nav .fi-sr-shopping-cart{
  border:2px solid rgb(18, 179, 55);
padding: 9px 10px 6px;
border-radius: 8px;
font-size: 15px;
margin-left: 8px;
cursor: pointer;
}
.header nav .fi-sr-shopping-cart:hover{
color: black;
background-color: #ffffff;  
 color: rgb(32, 158, 32);
}

/* home section is start */
