*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--servicePageBg) !important;
}
section .PatientRecordContainer{
padding-top: 130px;
text-align: center;
display: flex;
flex-direction:column;
justify-content:center;
align-items: center;
}
section .PatientRecordContainer h1{
color: var(--headingColor);
      font-family:"Poppins";
      font-size: 20px;
}
section .PatientRecordContainer p{
    font-size: 14px;
    color: rgb(62, 61, 61); 
    font-family:"Poppins";
   
}
/* record container start */
section .recordSearch{
  background-color: white;
  padding: 25px; 
  margin-top: 30px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
    width: 70%;
  border: 1px solid var(--borderGray);
  border-radius: 9px;
  text-align: start;
}
section .recordSearch p{
    color: black;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 550;
}
section .recordSearch span{
    color: gray;
    text-transform: capitalize;
    font-size: 14px;
   font-family:"Poppins";
   letter-spacing: 1px;
}
section .recordSearch .searchBarContainer{
margin-top: 20px;
}
section .recordSearch .searchBarContainer input{
padding: 10px 36%;
border: 1px solid rgb(243, 239, 239);
border-radius: 9px;
background-color: rgb(243, 241, 241);
      font-size: 13px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
section .recordSearch .searchBarContainer input:focus{
      border-color: #c2c3c4; 
  box-shadow: 0 0 5px rgba(229, 230, 230, 0.5);
    outline: none;
}
section .recordSearch .searchBarContainer button{
    border: none;
    border-radius: 7px;
    background-color: var(--btnColor);
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}
section .recordSearch .searchBarContainer button:hover{
background-color: rgb(27, 27, 206);
}