@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-chubby/css/uicons-regular-chubby.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--servicePageBg) !important;
}
section .PatientRecordContainer{
padding-top: 130px;
text-align: center;
display: flex;
flex-direction:column;
justify-content:center;
align-items: center;
}
section .PatientRecordContainer h1{
color: var(--headingColor);
      font-family:"Poppins";
      font-size: 20px;
}
section .PatientRecordContainer p{
    font-size: 14px;
    color: rgb(62, 61, 61); 
    font-family:"Poppins";
}
/* record container start */
section .recordSearch{
  background-color: white;
  padding: 25px; 
  margin-top: 30px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
    width: 70%;
  border: 1px solid var(--borderGray);
  border-radius: 9px;
  text-align: start;
}
section .recordSearch p{
    color: black;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 550;
}
section .recordSearch span{
    color: gray;
    text-transform: capitalize;
    font-size: 14px;
   font-family:"Poppins";
   letter-spacing: 1px;
}
section .recordSearch .searchBarContainer{
margin-top: 20px;
}
section .recordSearch .searchBarContainer input{
padding: 10px 36%;
border: 1px solid rgb(243, 239, 239);
border-radius: 9px;
background-color: rgb(243, 241, 241);
      font-size: 13px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
section .recordSearch .searchBarContainer input:focus{
      border-color: #c2c3c4; 
  box-shadow: 0 0 5px rgba(229, 230, 230, 0.5);
    outline: none;
}
section .recordSearch .searchBarContainer button{
    border: none;
    border-radius: 7px;
    background-color: var(--btnColor);
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}
section .recordSearch .searchBarContainer button:hover{
background-color: rgb(27, 27, 206);
}
/* record table start */
section .recordTableContainer{
  background-color: white;
  padding: 25px; 
  margin-top: 30px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
    width: 70%;
  border: 1px solid var(--borderGray);
  border-radius: 9px;
  text-align: start;
   margin-bottom: 50px;  
}
section .recordTableContainer p{
   color: black;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 550;   
}
section .recordTableContainer span{
color: gray;
text-transform: capitalize;
font-size: 14px;
font-family:"Poppins";
letter-spacing: 1px;  
}
section .recordTableContainer table{
width:max-content;
   border-collapse: collapse;
   margin-top: 20px;
  
}

tbody{
   align-items:center;
   text-align: center;
}
th,td{
   margin: 5px;
   padding: 15px 30px;
  border-bottom: 1px solid rgb(196, 194, 194);
   align-items: center;
   font-family:"Poppins";
   font-weight: 500;
   font-size: 15px;
}
tbody td{
  font-size: 14px;
   font-family:monospace;
   font-weight: 200;
   cursor: pointer;
    border-bottom: 1px solid rgb(196, 194, 194);
}
tbody td p{
    color: white !important;
    background-color:black;
     font-family:"Poppins";
   padding: 5px;
   border-radius: 6px;
   font-size: 13px !important;
}
/* health tips container start */
.healthContainer .healthGrid{
   display: grid;
  grid-template-columns:repeat(3,1fr);
gap: 15px;
    padding: 35px;
    margin: 20px;
}
.healthContainer .healthGrid .healthTips{
   border: 1px solid var(--borderGray);
    object-fit: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
 align-items:center;
 background-color: white;
}
.healthContainer .healthGrid .healthTips:hover{
    box-shadow:  0px 0px 7px #aaaaaa,
             -25px 0px 30px #eeeded;
               -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s; 
}
.healthContainer .healthGrid .healthTips i{
  font-size: 60px;
  padding: 60px 172px;
  background-color: rgb(223, 244, 246);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: rgb(35, 122, 244);
}
.healthContainer .healthGrid .healthTips span{
  color: black;
  font-family:"Poppins";
  padding: 20px;
    
}
.healthContainer .healthGrid .healthTips p{
padding: 10px 10px 20px 10px;
  color: rgb(54, 52, 52);
}
/* feed back form start */
section .PatientRecordContainer .feedback{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border: 1px solid rgb(226, 222, 222);
  border-radius: 9px;
  padding: 20px;
}
section .PatientRecordContainer .feedback span{
  color: black;
   font-family:"Poppins";
   text-align: start;
   font-weight: 500;
}
section .PatientRecordContainer .feedback .field{
display: flex;
flex-direction:row;
}
section .PatientRecordContainer .feedback .field>div{
  display:flex;
  flex-direction: column;
}
label{
    font-weight: 550;
    font-size: 13px;
   margin-left: 5px;
   margin-top: 20px;
    font-family:"Poppins";
    text-align: start;
}
section .PatientRecordContainer .feedback .field input{
    padding: 13px 75px;
      margin: 0px 20px 0px 0px;
      border: 1px solid rgb(239, 237, 237);
      border-radius: 9px;
      background-color: rgb(243, 241, 241);
      font-size: 13px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
section .PatientRecordContainer .feedback .field input:focus{
      border-color: #c2c3c4; 
  box-shadow: 0 0 5px rgba(229, 230, 230, 0.5);
    outline: none;
}
section .PatientRecordContainer .feedback .rating{
margin-right: 75%;
margin-top: 5px;
}
section .PatientRecordContainer .feedback .rating i{
font-size: 30px;
cursor: pointer;
text-align: start;
color: gray;

}
section .PatientRecordContainer .feedback .rating i:hover{
color:rgb(251, 211, 12);
}
section .PatientRecordContainer #type{
 margin-right: 83%; 
 margin-top: 24px;
}
section .PatientRecordContainer .feedback .service{
display: flex;
flex-direction: row;
}
section .PatientRecordContainer .feedback .service input{
margin: 25px 16px 25px 25px;
}
#feedFeild{
  padding: 30px 35%;
      margin: 0px 20px 0px 0px;
      border: 1px solid rgb(239, 237, 237);
      border-radius: 9px;
      background-color: rgb(243, 241, 241);
      font-size: 13px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
#feedFeild:focus{
  border-color: #c2c3c4; 
  box-shadow: 0 0 5px rgba(229, 230, 230, 0.5);
  outline: none; 
}
.feedBack{
     border: none;
    border-radius: 7px;
    background-color: var(--btnColor);
    color: white;
    padding: 13px 39%;
    cursor: pointer;
     font-family:"Poppins";
     margin-top: 13px;
     margin-right: 23px;
}
.feedBack:hover{
background-color: rgb(27, 27, 206);
} 
/* mobile based responsive design  */
@media screen and (max-width:767px)and (max-width:960px){
 section .recordSearch .searchBarContainer input{
padding: 15px 25%;
margin: 5px;
}  
section .recordSearch .searchBarContainer button{
margin-left: 100px;
}
.healthContainer .healthGrid{
   display: grid;
  grid-template-columns:repeat(1,1fr);
}
section .PatientRecordContainer .feedback .field{
display: flex;
flex-direction:column;
}
section .PatientRecordContainer .feedback .service{
display: flex;
flex-direction: column;
}
section .PatientRecordContainer #type{
 margin-right: 70%; 
}
section .PatientRecordContainer .feedback .rating{
margin-right: 55%;
}
section .PatientRecordContainer .feedback .service{
display: flex;
flex-direction: column;
}
section .PatientRecordContainer .feedback .service input{
margin:5px;
}
#feedFeild{
  padding: 30px 25%; 
}
.feedBack{
  padding: 13px 30%; 
}
}