@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-thin-straight/css/uicons-thin-straight.css');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--servicePageBg) !important;
}
/* section service page start */
section .serviceBody{
padding-top: 130px;
text-align: center;
}
section .serviceBody h1{
    color: var(--headingColor);
      font-family:"Poppins";
      font-size: 20px;
}
section .serviceBody p{
    font-size: 16px;
    color: rgb(77, 75, 75); 
    font-family:"Poppins";
}
section .serviceBody .serviceGrid{
 display: grid;
  grid-template-columns:repeat(4,1fr);
gap: 15px;
    padding: 5px;
    margin: 15px;
}
section .serviceBody .serviceGrid .services{
    border: 1px solid var(--borderGray);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
 align-items: start;
 background-color: white;
}
section .serviceBody .serviceGrid .services:hover{
    box-shadow:  0px 0px 7px #aaaaaa,
             -25px 0px 30px #eeeded;
               -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;  
}
.serviceGrid .services i{
    color:var(--headingColor) ;
    font-size: 20px;
    padding: 15px 15px 10px 15px;
    background-color:#cce0ff;
    border-radius: 10px;
}
.serviceGrid .services span{
      font-family:"Poppins";
        margin-top: 19px;
}
.serviceGrid .services p{
    color: gray;
    font-size: 14px;
    text-align: start;
}